
<!DOCTYPE html>
<html>
<head>
	{% if title%}
		<title>Inventory {{title}}</title>
	{% else %}
		<title>Inventory</title>
	{% endif %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><b>Inventory Management System</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/admin">Dashboard</a>
      <a class="nav-item nav-link" href="/admin/product">Product <span class="sr-only">(current)</span></a>
      <!-- <a class="nav-item nav-link" href="admin/suplier">Supplier</a> -->
      <a class="nav-item nav-link " href="/admin/purchase">Purchase</a>
            <!-- <a class="nav-item nav-link" href="/admin/analysis">Analysis</a>     -->
      
    </div>
  </div>
</nav>
<!-- <div class="text-center">
 </div>
 <div class=""> -->
   <div id="bar-chart"></div>
   <div style = "text-align:left;">
    
   <canvas id="income" width="600" height="400"></canvas>
 </div>
        <script>
            // // line chart data
            // var buyerData = {
            //     labels : ["January","February","March","April","May","June"],
            //     datasets : [
            //     {
            //         fillColor : "rgba(172,194,132,0.4)",
            //         strokeColor : "#ACC26D",
            //         pointColor : "#fff",
            //         pointStrokeColor : "#9DB86D",
            //         data : [203,156,99,251,305,247]
            //     }
            // ]
            // }
            // // get line chart canvas
            // var buyers = document.getElementById('buyers').getContext('2d');
            // // draw line chart
            // new Chart(buyers).Line(buyerData);
            // // pie chart data
            // var pieData = [
            //     {
            //         value: 20,
            //         color:"#878BB6"
            //     },
            //     {
            //         value : 40,
            //         color : "#4ACAB4"
            //     },
            //     {
            //         value : 10,
            //         color : "#FF8153"
            //     },
            //     {
            //         value : 30,
            //         color : "#FFEA88"
            //     }
            // ];
            // // pie chart options
            // var pieOptions = {
            //      segmentShowStroke : false,
            //      animateScale : true
            // }
            // // get pie chart canvas
            // var countries= document.getElementById("countries").getContext("2d");
            // // draw pie chart
            // new Chart(countries).Pie(pieData, pieOptions);
            // bar chart data
            var barData = {
                labels : {{ lables |safe }},
                datasets : [
                    {
                        fillColor : "#48A497",
                        strokeColor : "#48A4D1",
                        data : {{ data |safe }}
                    }
                    // {
                    //     fillColor : "rgba(73,188,170,0.4)",
                    //     strokeColor : "rgba(72,174,209,0.4)",
                    //     data : [364,504,605,400,345,320]
                    // }
                ]
            }
            // get bar chart canvas
            var income = document.getElementById("income").getContext("2d");
            // draw bar chart
            new Chart(income).Bar(barData);
        </script>
 </div>
 
</body>

</html>