<!DOCTYPE html>
<html>
<head>
{% if title%}
		<title>Inventory {{title}}</title>
	{% else %}
		<title>Inventory</title>
	{% endif %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="#"><b>Stock Maintanance System</b></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav">
			      <a class="nav-item nav-link" href="/admin">Dashboard</a>
			      <a class="nav-item nav-link active" href="/admin/product">Product <span class="sr-only">(current)</span></a>
			      <!-- <a class="nav-item nav-link" href="admin/suplier">Supplier</a> -->
			      <a class="nav-item nav-link" href="/admin/purchase">Purchase</a>
                  <!-- <a class="nav-item nav-link" href="/admin/analysis">Analysis</a>         -->
			    </div>
			  </div>
        <a class="nav-item nav-link" href="{{url_for('login_page.a_logout')}}">{{user}} <img src={{url_for('static',filename='logout.png')}} width="25" height="25"></a>
			</nav>
  </br>
<div class="container">
  <h2>Product Information</h2>

  {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category,message in messages %}
                        <div class="alert alert-{{category}}">{{message}}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

 <div class="float-md-right">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Request</button></div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="col-md-4"/> 
        <form class="form-group" action = "{{ url_for('requestProduct') }}" method = "POST">
            <div class="form-group">
              Name 
               <input class="form-group" type="text" name="pn" placeholder="Product Name" id="p_name" required>
            </div>
             <div class="form-group">
              QTY 
               <input class="form-group" type="text" name="pq" placeholder="Product QTY" id="P_QTY" required>
            </div>
            <!-- <div class="form-group">
              Price 
               <input class="form-group" type="text" name="pp" placeholder="Product Price" id="P_price" required>
            </div> -->
      </div>
      <div class="modal-footer">
        <input class="btn btn-success" class="form-control"  type="Submit" value="Submit" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form></div>
  </form>
  </div> 
 </div> 

 </br>
</br>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-info">Product id</th>
        <th class="text-info">Product name</th>
        <th class="text-info">Qty</th>
        <th class="text-info">Price</th>
        <th class="text-success">Edit Price</th>
        <th class="text-danger">Delete</th>
      </tr>
    </thead>
    <tbody>
       {% for row in rows %}
            <tr>
               <td>{{row["productID"]}}</td>
               <td>{{row["productName"]}}</td>
               <td>{{row['QTY']}}</td>	
               <td>₹{{row['productPrice']}}</td>
               <td>
                    <a><button class="btn btn-primary" OnClick='showModal({{row["productID"]}},"{{row["productName"]}}","{{row["QTY"]}}","{{row["Price"]}}");'>Edit</button></a></td>
                       <td> <a href='deleteProduct/{{row["productID"]}}'><button class="btn btn-danger">Delete</button></a>
                     </td> 
               
            </tr>
         {% endfor %}
    </tbody>
  </table>
</div>
 <div class="modal fade" id="myModal">
      <div class="modal-dialog">
      <div class="modal-content">
      
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Edit Product</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         
         <!-- Modal body -->
         <div class="modal-body">
            <form class="form-group"  action = "{{ url_for('editProduct') }}" method = "POST">
               <div class="form-group">
                  <input type="text" readonly class="form-control-plaintext  form-control-lg" name="ProductID" id="ProductID" style="display: none;" value="00">
               </div>
               <div class="form-group">
                  <label for="NEWProductName" class="sr-only"></label>
                  <input class="form-control form-control-lg" type="text" name="NEWProductName" placeholder="New Product Name" id="NEWProductName" required>
               </div>
               <div class="form-group">
                  <label for="NEWProductPrice" class="sr-only"></label>
                  <input class="form-control form-control-lg" type="text" name="NEWProductPrice" placeholder="NEW Product Price" id="NEWProductPrice" required>
               </div>
               <button type="submit" class="btn btn-success mb-2 font-weight-bold">EDIT PRODUCT</button>
            </form>
         </div>
       </div>
     </div>
   </div>
 </div>
</body>
</html>
<script type="text/javascript">
  
    function showModal(id,oldname,oldqty,oldpz){
            $('#ProductID').val(id);   
            $('#NEWProductName').val(oldname);
            $('#NEWProductQty').val(oldqty);
            $('#NEWProductPrice').val(oldpz);
            $('#myModal').modal('toggle');
         }
   </script>
</script>

<!-- <script>
  $(document).ready(function(){
      $(".alert").hide(3)
  });
</script> -->
